# Gradle
.gradle
build/
run/
logs/

# Eclipse
bin/
*.launch
.settings/
.metadata
.classpath
.project

# IntelliJ
/*.iml
.idea/
*.ipr
*.iws
.idea_modules/
out/

# Netbeans
manifest.mf
build.xml
nbproject/

# OS crap
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Other common
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
eclipse/

# SulfurBox output
.sulfurbox/
*.gradle
*.sulfur
*.info

# Whitelist
!developer-references/
!example.gradle
!example.properties
!example_config.sulfur
!build.template.gradle
!mcmod.template.info
/dist/